.map {	
        height: 100%;
        width: 100%;
		display: inline-block;
		
      }
	  
.bott {
	text-align: center;

	font-family:reindeer;
	color:black;
	padding:50px;
	font-size: 250%;
	background: url(banner2.jpg);
	
	}
	  
.heading {	/*background-color:#feb24c;
			border: 3px solid;
			box-sizing: border-box;*/
			font-family:reindeer;
			color:white;
			text-align:center;
			padding-top:20px;
			padding-bottom:20px;
			background:url(banner.jpg);
		
			
}
.Geo{
			
			font-weight:bold;
			font-size:500%;
			padding-right:50px;
}

.power{
			color:black;
			padding:50px;
			font-size: 200%;
}



.legend{
			
			width: 12%;
			height: 100%;
			float: right;
			
			padding-right: 30px;
			

}
p{
	font-weight:bold;
	font-family:Arial;
}

.gfi{
	width: 10px;
	height: 50%;
	
	
}

.ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
	  
@font-face {
              font-family: 'reindeer';
              src:  url('fonts/reindeer_christmas_-_personal_use-webfont.woff') format('woff'),
                    url('fonts/reindeer_christmas_-_personal_use-webfont.woff2') format('woff2');   
            }

			



