.map {	
        height: 90%;
        width: 100%;
		display: inline-block;
		
      }
	  
.heading {	/*background-color:#feb24c;
			border: 3px solid;
			box-sizing: border-box;*/
			font-family:reindeer;
			color:white;
			text-align:center;
			padding-top:20px;
			padding-bottom:20px;
			background:url(banner.jpg);
		
			
}
.Geo{
			
			font-weight:bold;
			font-size:500%;
			
}

.power{
			color:black;
			padding:50px;
			font-size: 200%;
}

.bott {
	text-align: center;
	font-family:reindeer;
	font-weight:bold;
	color:black;
	font-size: 300%;
	background: url(banner2.jpg);
	padding-top:50px;
	
	}
	  
.main {
	text-align: center;
	color:black;
	font-size: 150%;
	padding-top:50px;
	
	}

.legend{
			
			width: 12%;
			height: 100%;
			float: right;
			padding-right: 30px;
			

}
/*
p{
	font-weight:bold;
	font-family:Arial;
}*/



.gfi{
	width: 10px;
	height: 50%;
	
	
}

	  
@font-face {
              font-family: 'reindeer';
              src:  url('fonts/reindeer_christmas_-_personal_use-webfont.woff') format('woff'),
                    url('fonts/reindeer_christmas_-_personal_use-webfont.woff2') format('woff2');   
            }

			



